*{
    margin:0;
}
.fish{
    width:60px;
    height:60px;
}
header{
    padding:10px 5%; 
    background-color: #F0FFFF;
}
header>*{
    display: inline-block;
    width: 450px;
}
.pustota{
    width: 700px;
}
header a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
body{
   background-color:#F0FFFF;   
}

article{
    padding: 20% 5%;
    font-size: 30px;
}
.wwq{
    background-image: url(img_0226.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
